# Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Build outputs
build/
android/app/build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/.symlinks/
ios/Pods/
macos/Pods/
windows/flutter/


# IDE files
.idea/
.vscode/
